/* Index General Style */

/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

/* ClearFix and Helper Classes */
.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

.hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

/* Main Style */
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #CECECE;
	background-color: #242528;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*background: url(../Images/HomeBG.png) no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Header */
.main,
.wh40k-header {
	width: 300%;
	max-width: 70em;
	margin: 0 auto;
	padding: 6em 2em 2em;
	text-align: center;
}

.wh40k-header h1 {
	font-size: 2em;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 .6em 0;
}

.wh40k-header h2 {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 .6em 0;
}

.wh40k-header > span {
	font-weight: 400;
	font-size: 3.0em;
	color: #F0F0F0;
	position: relative;
	display: block;
	padding: 0 0 .5em .1em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

/*
.wh40k-header > span span:after {
	font-size: 50%;
	position: relative;
	top: -20px;
	left: -12px;
	width: 30px;
	height: 30px;
}

.wh40k-header > span span:hover:before {
	content: attr( data-content );
	font-size: 30%;
	font-weight: 300;
	line-height: 1.2;
	position: absolute;
	left: auto;
	margin-left: 4px;
	padding: .8em 1em;
	text-align: left;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #FF5722;
	background: #242528;
}

.wh40k-header nav {
	text-align: center;
	margin: 0 auto;
}

.wh40k-header nav a {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 .1em;
	text-align: left;
	border-radius: 50%;
}

.wh40k-header nav a > span {
	display: none;
}

.wh40k-header nav a:hover:before {
	content: attr( data-info );
	color: #CECECE;
	font-weight: bold;
	font-size: 0.85em;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	pointer-events: none;
}

.wh40k-header nav a:hover {
	background: #E64A19;
}
*/

/* Main View */
.wh40k-mview {
	background: #242528;
	display: block;
	vertical-align: middle;
}

.wh40k-mview > section {
	max-width: 290px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.wh40k-mview > section h2 {
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.5;
	margin: 0 0 .6em 0;
	color: #F0F0F0;
	width: 100%;
	text-align: center;
}

.wh40k-mview > section a{
	font-size: 1.3em;
	font-weight: 300;
	line-height: 1.5;
	margin: 0 0 .6em 0;
	color: #F0F0F0;
	width: 100%;
	text-align: center;
}

.wh40k-mview > section a:hover {
	color: #9DE17D;
}

/* Buttons */
.wh40k-btn {
	vertical-align: middle;
	text-align: center;
	border: none;
	border-radius: 10px;
	background: #1D353C;
	color: #F0F0F0;
	padding: 1.5em;
	display: block;
	width: 100%;
	cursor: pointer;
	margin: 30px 0;
	font-size: 1em;
	letter-spacing: 0.2em;
	float: center;
}

.wh40k-btn:hover {
	color: #242528;
	background: #20271A;
	box-shadow: 0 12px 16px 0 rgba(36,37,42,0.50),0 17px 50px 0 rgba(128,203,196,0.30);
}

.wh40k-btn.active {
	background: #9DE17D;
}

.wh40k-btn.disabled {
	background: #CECECE;
	pointer-events: none;
}

@media screen and ( max-width: 40em ) {
	.wh40k-header h1 {
		font-size: 1.8em;
	}
}
